<html>
  <body>
    <p>
    <a href="/story/all">View All Stories</a> | <a href="/story/create">Create a Random Story</a>
    </p>

    <div id="sub-template">
      <%= yield %>
    </div>
  </body>
</html>
